* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f7fafa;
    font-family: "Montserrat", sans-serif;
    -webkit-tap-highlight-color: transparent;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    text-align: center;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
}
.ticketList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.ticketCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 3px #e2f8fd;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
}
.ticketCardPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ticketCard::before {
    content: "";
    position: absolute;
    width: 1px;
    top: 0;
    left: 206px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}
.ticketCardBtn {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    border: none;
    background-color: #fe9304;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}
.ticketCardInfo {
    width: 65%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.ticketCardFlightInfo {
    display: flex;
    flex-direction: column;
}
.ticketCardTime {
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 500;
}
.ticketCardRoute {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
}
.ticketCardDimmedText {
    color: #0000004d;
    font-size: 14px;
    font-weight: 400;
}
.ticketCardStops {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stopsSeparator {
    display: flex;
    align-items: center;
}
.stopsPlaneLine {
    width: 130px;
    margin-top: 5px;
    height: 2px;
    background-color: #0000004d;
}
.stopsPlane {
    transform: rotate(45deg);
    color: #0000004d;
}
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 3px #e2f8fd;
    padding-bottom: 20px;
}
.currencyButtonGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.sidebarCaption {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.currencyButtons {
    display: flex;
}
.currencyButtons button {
    border: 1px solid #e2e2e2cc;
    padding: 12px 18px;
    text-align: center;
    color: #409af7;
    background: transparent;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}
.currencyButtons button.active {
    color: #fff;
    background-color: #409af7;
    cursor: default;
}
.currencyButtons button:first-of-type {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.currencyButtons button:last-of-type {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.stopButtonGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.stopCaption {
    padding: 0 20px;
}
.checkboxGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.stopCheckbox {
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 8px;
}
.stopCheckbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.stopCheckbox label {
    cursor: pointer;
    user-select: none;
}
.stopCheckbox input[type="checkbox"]:checked {
    background-color: #409af7;
}
.stopCheckboxLine {
    padding: 8px 0;
    transition: 0.3s;
    cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
    .stopCheckboxLine:hover {
        background-color: #409af71a;
    }
    .currencyButtons button:hover {
        background-color: #409af71a;
        border-color: #409af7;
    }
    .ticketCardBtn:hover {
        background-color: #fe9304cc;
        box-shadow: 0 0 3px #fe93041a;
    }
}
@media (hover: none) and (pointer: coarse) {
    .stopCheckboxLine:active {
        background-color: #409af71a;
    }
    .currencyButtons button:active {
        background-color: #409af71a;
        border-color: #409af7;
    }
    .ticketCardBtn:active {
        background-color: #fe9304cc;
        box-shadow: 0 0 3px #fe93041a;
    }
}
@media screen and (min-width: 953px) {
    .content {
        flex-direction: row;
    }
    .sidebar {
        align-self: start;
    }
}
@media screen and (max-width: 645px) {
    .ticketList {
        width: 100%;
    }
    .ticketCard {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
    .ticketCardPrice {
        width: 100%;
    }
    .ticketCardBtn {
        align-self: stretch;
        padding: 10px;
    }
    .ticketCard::before {
        width: 100%;
        top: 124px;
        left: 0;
        height: 1px;
    }
    .ticketCardInfo {
        width: 100%;
    }
}
@media screen and (max-width: 420px) {
    .stopsSeparator {
        display: none;
    }
}
